
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urunler</title>
</head>
<body>
    <a href="/Default/Index">Ana Sayfa</a>
    <a href="/Default/Musteriler">Müşteriler Sayfası</a>
    <a href="/Default/Sehirler">Şehirler</a>


    <h3>Kullanıcı Adı. @ViewBag.kAdi</h3>

    <h1>Ürünler Sayfası</h1>
    <h2>@ViewBag.m1</h2>
    <h2>@ViewBag.m2</h2>
    <h2>@ViewBag.m3</h2>

    <hr />
    <h3>Toplam: @ViewBag.t</h3>

    <hr />
    <h3>Çevre : @ViewBag.c</h3>

    <hr />
    <h3>Faktoriyel : @ViewBag.faktoriyel</h3>


</body>
</html>
